@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

body {
  padding-left: 1rem;
  padding-right: 1rem;
}

button,
label {
  cursor: pointer;
}

input,
textarea {
  display: block;
}

.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
