@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

body.panel-open,
body.modal-open {
  overflow: hidden;
}

button,
label {
  @apply cursor-pointer;
}

input,
textarea {
  @apply block;
}
input {
  box-shadow: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
strong {
  @apply font-semibold;
}

.main {
  @apply relative mx-auto w-full max-w-xl;
  box-shadow: -1px 0px 0px 0px #e5e7eb, 1px 0px 0px 0px #e5e7eb;
}
.main:not(:first-child) {
  @apply pt-12;
}
.main:not(:last-child) {
  @apply pb-16;
}
#layout-header.is-transparent ~ .main {
  @apply pt-0;
}

.h-min-full-screen {
  @apply min-h-screen;
}
@supports (-webkit-touch-callout: none) {
  .h-min-full-screen {
    min-height: -webkit-fill-available;
  }
}

.container {
  @apply px-5;
}

form .invalid {
  @apply block text-sm text-red-600;
}

form .notice {
  @apply block text-sm text-gray-600;
}

.blog-post-content {
  @apply py-5;
}

.blog-post-content h1 {
  @apply text-red-500 mb-5;
}

.blog-post-content p {
  @apply mb-1 text-gray-600;
}

.blog-post-content ul {
  @apply pl-10 list-disc;
}
