@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

button,
label {
  cursor: pointer;
}

input,
textarea {
  display: block;
}

.main {
  min-height: 100vh;
  max-height: -webkit-fill-available;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #e5e7eb;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
